

<ion-content>
  <div class="banner">
    <img src="../../assets/rickandmorty.png" />
  </div>
  <div class="content">
    <h2 class="characters">Personajes</h2>
    <div class="event-slider ion-padding-horizontal">
      <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor='let character of characters'>
              <ion-card>
                <ion-card-header  class="ion-no-padding">
                  <img src="{{character.image}}"/>
                </ion-card-header>
                <ion-card-content>
                  <p>estado:{{character.status}}</p>
                  <h2>{{character.name}}</h2>
                  <p>especie:<strong>{{character.species}}</strong></p>
                </ion-card-content>
              </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

<!-- *ngIf="characters" -->